Assignment No 20

Question 1

In [1]:
test1='This is a test of the emergency text system' # Creating string variable test1
f=open('\\test\\text.txt','w') # Open a file in write mode
f.write(test1) # write inside file
f.close() # close

Question 2

In [2]:
f=open('\\test\\text.txt','r')
for i in f:
    test2=i
print('test2 is :',test2)
print('test1 is :',test1)
print("There is no diffrence in test1 and test2")

test2 is : This is a test of the emergency text system
test1 is : This is a test of the emergency text system
There is no diffrence in test1 and test2

Question 3

In [3]:
import csv
column_name=['title','author','year']
data=[  {'title':'The Weirdstone of Brisingamen',
        'author':'Alan Garner',
        'year':1960},
        {'title':'Perdido Street Station',
        'author':'China MiÃ©ville',
        'year':2000},
        {'title':'Thud!',
        'author':'Terry Pratchett',
        'year':2005},
        {'title':'The Spellman Files',
        'author':'Lisa Lutz',
        'year':2007}
    ]
with open('books.csv','w',encoding ='UTF8',newline='') as f:
    writer=csv.DictWriter(f,fieldnames=column_name)
    writer.writeheader()
    writer.writerows(data)

Question 4

In [ ]:
import sqlite3   # import sqlite3 package
db=sqlite3.connect('books.db') # Create connection object
cursor=db.cursor() # Create pointer to point database
cursor.execute('create table books(title text, authod text,year int)') # Create table named as books
db.close()

Question 5

In [7]:
db=sqlite3.connect('books.db')
cursor.execute('select * from books')
cursor.execute('insert into books values("Charles","Deccan",1983)') # Insert data inside the table
db.close()

Question 6

In [8]:
title=cursor.execute('select title from books order by title') # extract titles from books table 
for i in title:
    print(i[0])
db.close()

Charles
Charles
Charles

Question 7

In [9]:
publication=cursor.execute('select * from books order by year')
for i in publication:
    print(i)

('Charles', 'Deccan', 1983)
('Charles', 'Deccan', 1983)
('Charles', 'Deccan', 1983)

Question 8

In [13]:
import sqlalchemy
conn=sqlalchemy.create_engine('sqlite:///books.db')
conn

Engine(sqlite:///books.db)

Question 9

In [4]:
pip install redis

Requirement already satisfied: redis in c:\users\admin\anaconda3\lib\site-packages (4.1.4)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: deprecated>=1.2.3 in c:\users\admin\anaconda3\lib\site-packages (from redis) (1.2.13)
Requirement already satisfied: importlib-metadata>=1.0; python_version < "3.8" in c:\users\admin\anaconda3\lib\site-packages (from redis) (4.11.2)
Requirement already satisfied: packaging>=20.4 in c:\users\admin\anaconda3\lib\site-packages (from redis) (21.3)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\admin\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.10.11)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in c:\users\admin\anaconda3\lib\site-packages (from importlib-metadata>=1.0; python_version < "3.8"->redis) (4.1.1)
Requirement already satisfied: zipp>=0.5 in c:\users\admin\anaconda3\lib\site-packages (from importlib-metadata>=1.0; python_version < "3.8"->redis) (3.7.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\admin\anaconda3\lib\site-packages (from packaging>=20.4->redis) (2.3.0)

In [ ]:
import redis
conn=redis.Redis()
conn.hset('test',{'count':1,
                  'name':'Fester Bestertester'})
conn.hgetall('test')

Question 10

In [ ]:
conn.hincrby('test','count',1)
conn.hget('test','count')